{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Add license{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="POST" action="{{ url_for('purchase') }}">

        {{ form.hidden_tag() }}
        {{ form.years.label }} {{ form.years }}
        {{ form.months.label }} {{ form.months }}
        {{ form.days.label }} {{ form.days }}
        {{ form.keys.label }} {{ form.keys }}

        <input type="submit" value="Purchase">
    </form>
{% endblock %}