{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Change info{% endblock %}</h1>
{% endblock %}

{% block content %}
    {% if form.name.errors %}
        <ul class="errors">
        {% for error in form.name %}
            <li>{{ error }}</li>
        {% endfor %}
        </ul>
    {% endif %}

    {% if form.email.errors %}
        <ul class="errors">
        {% for error in form.email %}
            <li>{{ error }}</li>
        {% endfor %}
        </ul>
    {% endif %}

    {% if form.phoneNumber.errors %}
        <ul class="errors">
        {% for error in form.phoneNumber %}
            <li>{{ error }}</li>
        {% endfor %}
        </ul>
    {% endif %}

    <h4 style="margin-bottom: 1%;">
        Enter new info into the fields you wish to change
    </h4>

    <h5>
        <div style="margin-bottom: 0.5%;"><b>Current name:</b> {{ selected.name }}</div>
        <div style="margin-bottom: 0.5%;"><b>Current email:</b> {{ selected.email }}</div>
        <div style="margin-bottom: 0.5%;"><b>Current phoneNo:</b> {{ selected.phoneNo }}</div>
    </h5>

    <form method="POST" action="{{ url_for('adminchange', email=selected.email) }}">

        {{ form.hidden_tag() }}
        {{ form.name.label }} {{ form.name(size=20) }}
        {{ form.email.label }} {{ form.email(size=20) }}
        {{ form.phoneNumber.label }} {{ form.phoneNumber(size=20) }}

        <input type="submit" value="Save">
    </form>
{% endblock %}