{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Licenses{% endblock %}</h1>
{% endblock %}

{% block content %}
    {% if user.licenses|length == 0 %}
        <h3>You have no licenses</h3>
    {% endif %}

    <ul>
        <div class="list">
        {% for i in user.licenses[:items] %}
            {% if loop.index != items %}
            <div class="item">
            <li>{{ loop.index }}. &nbsp;<b>Get Key:</b> {{ i.getKey }}  &nbsp;&nbsp; <b>Keys:</b> {{ i.keys|length }}  &nbsp;&nbsp; <b>Expires on:</b> <span class='localtime'>{{ i.expiryDate }}</span></li>
            <form  method="POST" action="{{ url_for('viewLicense') }}">
                <input id="License" name="License" type="hidden" value="{{ i.getKey }}">
                <input type="submit" name="View" value="View">
                <input type="submit" name="Renew" value="Renew">
                <input type="submit" name="Reset registration key" value="Reset registration key">
                <input type="submit" name="Reset all keys" value="Reset all keys">
            </form>
            </div>
            {% endif %}
        {% endfor %}
        </div>
    </ul>

    {% if user.licenses|length == items %}
    <button class="loadMore">Load more</button>
    {% endif %}

    <script>
        $(".loadMore").click(function(){
            $(".content").load("{{ url_for('viewLicense') + '?items=' + (items + 50)|string}}" + " .content",
            function () {
            $(".content").html($(".content > .content").html());
            });
        });
    </script>
{% endblock %}