{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Managing User: {{ selectedUser.name }}{% endblock %}</h1>
{% endblock %}

{% block content %}
    <h3>Add license:</h3>
    <form method="POST" action="{{ url_for('manageUser', email=selectedUser.email) }}">

        {{ form.hidden_tag() }}
        {{ form.years.label }} {{ form.years }}
        {{ form.months.label }} {{ form.months }}
        {{ form.days.label }} {{ form.days }}
        {{ form.keys.label }} {{ form.keys }}

        <input type="submit" value="Add">
    </form>

    <h3>User licenses:</h3>
    <div class="list">
    {% for i in selectedUser.licenses[:items] %}
        {% if loop.index != items %}
        <div class="item">
        <li>{{ loop.index }}. &nbsp;<b>Get Key:</b> {{ i.getKey }}  &nbsp;&nbsp; <b>Keys:</b> {{ i.keys|length }}  &nbsp;&nbsp; <b>Expires on:</b> <span class='localtime'>{{ i.expiryDate }}</span></li>
        <form  method="POST" action="{{ url_for('manageUser', email=selectedUser.email) }}">
            <input id="License" name="License" type="hidden" value="{{ i.getKey }}">
            <input type="submit" name="View" value="View">
            <input type="submit" name="Renew" value="Renew">
            <input type="submit" name="Reset registration key" value="Reset registration key">
            <input type="submit" name="Reset all keys" value="Reset all keys">
            <input type="submit" name="Remove" value="Remove">
        </form>
        </div>
        {% endif %}
    {% endfor %}
    </div>

    {% if selectedUser.licenses|length == items %}
    <button class="loadMore">Load more</button>
    {% endif %}

    <script>
        $(".loadMore").click(function(){
            $(this).text("Loading");
            $(".content").load("{{ url_for('manageUser', email=selectedUser.email) + '?items=' + (items + 50)|string}}" + " .content",
            function () {
            $(".content").html($(".content > .content").html());
            });
        });
    </script>
{% endblock %}