{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Users{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="POST" action="{{ url_for('users') }}">

      {{ form.hidden_tag() }}
      {{ form.search.label }} {{ form.search }}

      <input type="submit" value="Search">
    </form>

    <div class="list">
      {% for i in users %}
          {% if loop.index != items %}
          <div class="item">
            <li> {% if i.superadmin %}<b style="color: blue;">SUPERADMIN</b>&nbsp;{% endif %} {% if i.admin and not i.superadmin %}<b style="color: red;">ADMIN</b>&nbsp;{% endif %}  <b>Name:</b> {{ i.name }}  &nbsp;&nbsp; <b>Email:</b> {{ i.email }}  &nbsp;&nbsp; <b>Licenses:</b> {{ i.licenses|length }}  &nbsp;&nbsp; <b>Active:</b> {{ i.active }}</li>
            <form  method="POST" action="{{ url_for('users') }}">
              <input id="User" name="User" type="hidden" value="{{ i.email }}">
              <input type="submit" name="View" value="View">
              {% if not i.admin or user.superadmin %}<input type="submit" name="Change" value="Change">{% endif %}
              {% if not i.admin or user.superadmin %}<input type="submit" name="Remove" value="Remove">{% endif %}
            </form>
          </div>
          {% endif %}
      {% endfor %}
      {% if users|length == items %}
      <button class="loadMore">Load more</button>
      {% endif %}
    </div>
    
    <script>
      $(".loadMore").click(function(){
        $(".content").load("{{ url_for('users') + '?items=' + (items + 50)|string}}" + " .content",
        function () {
          $(".content").html($(".content > .content").html());
        });
      });
    </script>
{% endblock %}